In [11]:
from pymongo import MongoClient
import pandas as pd

# Establishing connection with the MongoDB Database
client = MongoClient('mongodb+srv://meriyageorgebethlem:Mongo2024@cluster0.6mgbbnm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['real_estate']
collection = db['raw_data_with_price_cleaned']

# Retrieving documents from the collection
data = list(collection.find({}))

In [12]:
# Converting to a dataframe
df = pd.DataFrame(data)

df.head()

,_id,Listing ID,Title,Price,Location,Link,Description,Time Posted,Bedrooms,Bathrooms,Size (sqft)
0,6728d454f417aaa24e3736b6,1703112620,OPEN HOUSE SATURDAY 3 Bed Room Brick Bungalow ...,399900.0,Cornwall,https://www.kijiji.ca/v-house-for-sale/cornwal...,OPEN HOUSE SATURDAY OCTOBER 26th 1:00pm to 2:3...,2024-10-24,3,2,"1,050"
1,6728d454f417aaa24e3736b7,1704864159,1ST TIME BUYERS /INVESTORS! THIS ONE IS PRICED...,279900.0,Windsor,https://www.kijiji.ca/v-house-for-sale/windsor...,"NEW LISTING! 3768 GLENFIELD $279,900 Welcome t...",2024-10-22,2,1,NaN
2,6728d454f417aaa24e3736b8,1704613739,SELLER DIRECT FINANCING 2.99 % AVAIALBLE,699900.0,Pickering,https://www.kijiji.ca/v-house-for-sale/city-of...,For Sale Brand New 3 And 4 Bedroom Houses In G...,2024-10-18,4,4,NaN
3,6728d454f417aaa24e3736b9,1704660901,Cottage for sale,229900.0,Windsor,https://www.kijiji.ca/v-house-for-sale/windsor...,Seasonal cottage for sale at beautiful Rochest...,2024-10-19,2,1,NaN
4,6728d454f417aaa24e3736ba,1704408813,"1512 S.F. BUNGALOW - AS IS - READY TO GO $233,...",233425.0,Whitchurch-Stouffville,https://www.kijiji.ca/v-house-for-sale/markham...,THIS JUST IN** BUILT & READY TO GO - SELLING A...,2024-10-15,3,2,"1,512"

In [13]:
# Trim whitespaces and standardize capitalization
text_cols = ['Title', 'Location', 'Description']
for col in text_cols:
    df[col] = df[col].str.strip().str.title()

In [14]:
# Fill missing 'Bedrooms' and 'Bathrooms' with mode
bedrooms_mode = df['Bedrooms'].mode()[0]
bathrooms_mode = df['Bathrooms'].mode()[0]
df['Bedrooms'].fillna(bedrooms_mode, inplace=True)
df['Bathrooms'].fillna(bathrooms_mode, inplace=True)

C:\Users\bhava\AppData\Local\Temp\ipykernel_26596\1310028277.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedrooms'].fillna(bedrooms_mode, inplace=True)
C:\Users\bhava\AppData\Local\Temp\ipykernel_26596\1310028277.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bathrooms'].fillna(bathrooms_mode, inplace=True)

In [15]:
# Implement KNNImputer Logic here
from sklearn.impute import KNNImputer
import pandas as pd

# Function to clean and convert columns to numeric
def clean_and_convert(column):
    if df[column].dtype == 'object':  # Check if the column is of object type (string)
        df[column] = pd.to_numeric(df[column].str.replace(',', ''), errors='coerce')
    else:
        df[column] = pd.to_numeric(df[column], errors='coerce')

# Apply cleaning to each relevant column
columns_to_clean = ['Price', 'Bedrooms', 'Bathrooms', 'Size (sqft)']
for col in columns_to_clean:
    clean_and_convert(col)

# Define the imputer
imputer = KNNImputer(n_neighbors=5)

# Apply imputation within each location
for location in df['Location'].unique():
    # Filter data for the specific location
    location_data = df[df['Location'] == location]
    
    # Only proceed if there are missing values in 'Size (sqft)'
    if location_data['Size (sqft)'].isnull().any():
        # Select columns with at least some non-missing values
        columns_to_impute = ['Price', 'Bedrooms', 'Bathrooms', 'Size (sqft)']
        columns_with_data = location_data[columns_to_impute].dropna(axis=1, how='all').columns
        
        # Impute missing values within this subset
        imputed_data = imputer.fit_transform(location_data[columns_with_data])
        
        # Convert imputed data to DataFrame
        imputed_df = pd.DataFrame(imputed_data, columns=columns_with_data, index=location_data.index)
        
        # Assign each column's values individually to ensure alignment
        for col in columns_with_data:
            df.loc[df['Location'] == location, col] = imputed_df[col]

In [16]:
# Calculate percentage of missing values
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
print("Percentage of Missing Values:\n", missing_percentage)

Percentage of Missing Values:
 _id             0.000000
Listing ID      0.000000
Title           0.000000
Price           0.000000
Location        0.000000
Link            0.000000
Description     0.000000
Time Posted     0.069100
Bedrooms        0.000000
Bathrooms       0.000000
Size (sqft)    48.402569
dtype: float64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49204 entries, 0 to 49203
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          49204 non-null  object
 1   Listing ID   49204 non-null  int64
 2   Title        49204 non-null  object
 3   Price        49204 non-null  float64
 4   Location     49204 non-null  object
 5   Link         49204 non-null  object
 6   Description  49204 non-null  object
 7   Time Posted  49170 non-null  object
 8   Bedrooms     49204 non-null  float64
 9   Bathrooms    49204 non-null  float64
 10  Size (sqft)  25388 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 4.1+ MB

In [18]:
import re

def extract_size(text):
    if pd.isnull(text):
        return None
    # # Regular expression to find patterns like '1234 sq ft' or '1234 sqft' or '1,234 square feet'
    pattern = r'(\d[\d,\.]*)\s*(sq\s*ft|square\s*feet)'
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        number_str = match.group(1)
        # Remove commas from the number string
        number_str = number_str.replace(',', '')
        try:
            return float(number_str)
        except ValueError:
            return None
    return None


# Apply the function to 'Description' and create a new column 'Extracted Size'
df['Extracted Size'] = df['Description'].apply(extract_size)

# Check how many values we were able to extract
extracted_size_count = df['Extracted Size'].count()
print(f"Extracted 'Size (sqft)' for {extracted_size_count} listings.")

Extracted 'Size (sqft)' for 3484 listings.

In [19]:
# Fill missing 'Size (sqft)' values with 'Extracted Size'
df['Size (sqft)'] = df['Size (sqft)'].fillna(df['Extracted Size'])

In [20]:
df.isnull().sum()

_id                   0
Listing ID            0
Title                 0
Price                 0
Location              0
Link                  0
Description           0
Time Posted          34
Bedrooms              0
Bathrooms             0
Size (sqft)       22250
Extracted Size    45720
dtype: int64

In [21]:
# Drop the 'Extracted Size' column from the DataFrame
df = df.drop(columns=['Extracted Size'])

In [22]:
df.isnull().sum()

_id                0
Listing ID         0
Title              0
Price              0
Location           0
Link               0
Description        0
Time Posted       34
Bedrooms           0
Bathrooms          0
Size (sqft)    22250
dtype: int64

In [23]:
# Drop rows where 'Size (sqft)' is null
df = df.dropna(subset=['Size (sqft)'])

# Reset the index after dropping rows, and drop the old index column
df = df.reset_index(drop=True)

In [24]:
# Code to save the final output to CSV
from datetime import datetime

# Get the current date with abbreviated month name
current_date = datetime.now().strftime("%b-%d")

# Save the DataFrame to a CSV file with the formatted date in the filename
df.to_csv(f'final_dataframe_{current_date}.csv', index=False)