In [3]:
from pymongo import MongoClient
import pandas as pd

# Establishing connection with the MongoDB Database
client = MongoClient('mongodb+srv://meriyageorgebethlem:Mongo2024@cluster0.6mgbbnm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client['real_estate']
collection = db['raw_data_with_price_cleaned']

# Retrieving documents from the collection
data = list(collection.find({}))

In [18]:
# Converting to a dataframe
df = pd.DataFrame(data)

df.head()

,_id,Listing ID,Title,Price,Location,Link,Description,Time Posted,Bedrooms,Bathrooms,Size (sqft)
0,6728d454f417aaa24e3736b6,1703112620,OPEN HOUSE SATURDAY 3 Bed Room Brick Bungalow ...,399900.0,Cornwall,https://www.kijiji.ca/v-house-for-sale/cornwal...,OPEN HOUSE SATURDAY OCTOBER 26th 1:00pm to 2:3...,2024-10-24,3,2,"1,050"
1,6728d454f417aaa24e3736b7,1704864159,1ST TIME BUYERS /INVESTORS! THIS ONE IS PRICED...,279900.0,Windsor,https://www.kijiji.ca/v-house-for-sale/windsor...,"NEW LISTING! 3768 GLENFIELD $279,900 Welcome t...",2024-10-22,2,1,NaN
2,6728d454f417aaa24e3736b8,1704613739,SELLER DIRECT FINANCING 2.99 % AVAIALBLE,699900.0,Pickering,https://www.kijiji.ca/v-house-for-sale/city-of...,For Sale Brand New 3 And 4 Bedroom Houses In G...,2024-10-18,4,4,NaN
3,6728d454f417aaa24e3736b9,1704660901,Cottage for sale,229900.0,Windsor,https://www.kijiji.ca/v-house-for-sale/windsor...,Seasonal cottage for sale at beautiful Rochest...,2024-10-19,2,1,NaN
4,6728d454f417aaa24e3736ba,1704408813,"1512 S.F. BUNGALOW - AS IS - READY TO GO $233,...",233425.0,Whitchurch-Stouffville,https://www.kijiji.ca/v-house-for-sale/markham...,THIS JUST IN** BUILT & READY TO GO - SELLING A...,2024-10-15,3,2,"1,512"

In [19]:
# Checking for the number of unique listings
unique_listing_ids = df['Listing ID'].nunique()
print(f"There are {unique_listing_ids} unique listings.")

There are 650 unique listings.

In [20]:
initial_record_count = len(df)
# Remove duplicate entries based on 'Listing ID'
df = df.drop_duplicates(subset=['Listing ID'])
final_record_count = len(df)
print(f"Dropping {initial_record_count - final_record_count} duplicate Records.")

# Reset the index after dropping duplicates
df.reset_index(drop=True, inplace=True)

Dropping 48554 duplicate Records.

In [21]:
# Trim whitespaces and standardize capitalization
text_cols = ['Title', 'Location', 'Description']
for col in text_cols:
    df[col] = df[col].str.strip().str.title()

In [22]:
# Fill missing 'Bedrooms' and 'Bathrooms' with mode
bedrooms_mode = df['Bedrooms'].mode()[0]
bathrooms_mode = df['Bathrooms'].mode()[0]
df['Bedrooms'].fillna(bedrooms_mode, inplace=True)
df['Bathrooms'].fillna(bathrooms_mode, inplace=True)

C:\Users\Meriya\AppData\Local\Temp\ipykernel_7580\1310028277.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedrooms'].fillna(bedrooms_mode, inplace=True)
C:\Users\Meriya\AppData\Local\Temp\ipykernel_7580\1310028277.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bathrooms'].fillna(bathrooms_mode, inplace=True)

In [23]:
# Calculate percentage of missing values
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
print("Percentage of Missing Values:\n", missing_percentage)

Percentage of Missing Values:
 _id             0.000000
Listing ID      0.000000
Title           0.000000
Price           0.000000
Location        0.000000
Link            0.000000
Description     0.000000
Time Posted     0.000000
Bedrooms        0.000000
Bathrooms       0.000000
Size (sqft)    86.153846
dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          650 non-null    object
 1   Listing ID   650 non-null    int64
 2   Title        650 non-null    object
 3   Price        650 non-null    float64
 4   Location     650 non-null    object
 5   Link         650 non-null    object
 6   Description  650 non-null    object
 7   Time Posted  650 non-null    object
 8   Bedrooms     650 non-null    object
 9   Bathrooms    650 non-null    object
 10  Size (sqft)  90 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 56.0+ KB

In [25]:
import re

def extract_size(text):
    if pd.isnull(text):
        return None
    # # Regular expression to find patterns like '1234 sq ft' or '1234 sqft' or '1,234 square feet'
    pattern = r'(\d[\d,\.]*)\s*(sq\s*ft|square\s*feet)'
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        number_str = match.group(1)
        # Remove commas from the number string
        number_str = number_str.replace(',', '')
        try:
            return float(number_str)
        except ValueError:
            return None
    return None


# Apply the function to 'Description' and create a new column 'Extracted Size'
df['Extracted Size'] = df['Description'].apply(extract_size)

# Check how many values we were able to extract
extracted_size_count = df['Extracted Size'].count()
print(f"Extracted 'Size (sqft)' for {extracted_size_count} listings.")

Extracted 'Size (sqft)' for 51 listings.

In [26]:
# Fill missing 'Size (sqft)' values with 'Extracted Size'
df['Size (sqft)'] = df['Size (sqft)'].fillna(df['Extracted Size'])

In [27]:
df.isnull().sum()

_id                 0
Listing ID          0
Title               0
Price               0
Location            0
Link                0
Description         0
Time Posted         0
Bedrooms            0
Bathrooms           0
Size (sqft)       514
Extracted Size    599
dtype: int64

In [28]:
# Drop the 'Extracted Size' column from the DataFrame
df = df.drop(columns=['Extracted Size'])

In [30]:
import warnings

def safe_median_fill(x):
    if len(x) == 0 or x.isna().all():
        return x
    return x.fillna(x.median())

with warnings.catch_warnings():
    warnings.filterwarnings('ignore', category=RuntimeWarning)
    # Your groupby and transform operation here using safe_median_fill

    # Ensure 'Size (sqft)' is a numeric type before filling
    df['Size (sqft)'] = pd.to_numeric(df['Size (sqft)'], errors='coerce')

    # Ensure 'Size (sqft)' is a numeric type before filling
    df['Size (sqft)'] = pd.to_numeric(df['Size (sqft)'], errors='coerce')

    # Use .transform() to fill missing 'Size (sqft)' values within groups
    df['Size (sqft)'] = df.groupby(['Bedrooms', 'Bathrooms'])['Size (sqft)'].transform(safe_median_fill)

    # Filling remaining missing values using Location-based median
    df['Size (sqft)'] = df.groupby('Location')['Size (sqft)'].transform(safe_median_fill)

In [31]:
df.isnull().sum()

_id             0
Listing ID      0
Title           0
Price           0
Location        0
Link            0
Description     0
Time Posted     0
Bedrooms        0
Bathrooms       0
Size (sqft)    12
dtype: int64

In [ ]:
# Drop rows where 'Size (sqft)' is null
df = df.dropna(subset=['Size (sqft)'])

# Reset the index after dropping rows, and drop the old index column
df = df.reset_index(drop=True)